html,
body,
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}
body {
    background-color: rgb(193, 148, 235);
}

.parent {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}
.px-size {
    font-size: 50px;
}
.rem-size {
    font-size: 2.5rem;
    margin-top: 1.5rem;
}
.em-size {
    font-size: 1em;
    text-align: left;
    width: 75rem;
    margin: 3rem auto auto auto;
}
.box {
    font-size: 4rem;
    background-color: blueviolet;
    width: 22vw;
    padding: 20px 15px 20px 15px;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
}
.text {
    font-size: 2rem;
    width: 20vw;
    margin: 10px auto;
}