html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px, we want the size to be 10pz, so we do 62.5% */
}

body {
  background-color: rgb(181, 129, 230);
  text-align: center;
  font-family: "Noto Serif Georgian", serif;
}

.parent1 {
  font-size: 2rem;
  margin-top: 3rem;
}
.parent2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  transition: all 0.3s;
}
.px-size {
  font-size: 50px;
}
.rem-size {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}
.em-size {
  font-size: 1em;
  text-align: left;
  width: 75rem;
  margin: 3rem auto auto auto;
}

.box {
  width: 25vw;
  height: 25vw;
  padding: 20px 15px 20px 15px;
  font-size: 4rem;
  margin: 10rem auto;
  background-color: rgb(168, 84, 216);
  border-radius: 15px;
  box-shadow: 15px 15px 5px rgb(116, 99, 114);
}

.box:hover {
  transform: scale(1.2);
  outline: 0.5rem solid rgb(75, 101, 202);
  animation: colorful 8s infinite;
}

.parent2:hover .box:not(:hover) {
  background-color: rgb(126, 109, 201);
  transform: scale(0.8);
  opacity: 0.5;
}

@keyframes colorful {
  0% {
    left: 25%;
    bottom: 20%;
    background-color: rgb(107, 204, 228);
  }
  25% {
    left: 50%%;
    bottom: 20%;
    background-color: rgb(97, 151, 221);
  }
  50% {
    left: 75%;
    bottom: 20%;
    background-color: rgb(127, 85, 245);
  }
  75% {
    left: 50%;
    bottom: 20%;
    background-color: rgb(100, 165, 230);
  }
  100% {
    left: 25%%;
    bottom: 20%;
    background-color: rgb(110, 215, 230);
  }
}

img {
  width: 18vw;
  margin-top: 1.5rem;
}
